{% if request.path == '/' %}
<div class="search-form-div">
  <form class='search-form' action="{% url 'home' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div class='search-submit'>
      <button class="button-function {% include 'decks/includes/color_choice_border.html' %}" type="submit">Submit</button>
    </div>
  </form>
</div>
{% endif %}

<div>
  <div class='flex-col'>
    <div class='flex'>
      <div class="flex question-button {% include 'decks/includes/color_choice_border.html' %}">My Decks</div>
    </div>
    
      <ul class='flex animate__animated animate__fadeInRight'>
        {% for deck in decks %}
        {% if deck.user == request.user %}
        
        <li>
          <div class="title-button {% include 'decks/includes/color_choice_background.html' %}">{{ deck.name }}</div>

          <div class='card-holder'>
          {% if deck.deck_cover_upload %}
          <a href="{% url 'deck-detail' deck_pk=deck.pk %}"><img class='flip-card' src="{{ deck.deck_cover_upload.url }}"></a>
          {% elif deck.deck_cover %}
          <a href="{% url 'deck-detail' deck_pk=deck.pk %}"><img class='flip-card' src="{{ deck.deck_cover }}"></a>
          {% else %}
          <a class='cover-text' href="{% url 'deck-detail' deck_pk=deck.pk %}"><p class ='flip-card' style='margin: 0; padding:0;'>{{ deck.name }}</p></a>
          {% endif %}      
          </div>  

        </li>
        {% endif %}
        {% endfor %}
      </ul>
      {% if request.path == '/' %}
      <div class='flex'>
        <a class="label-button {% include 'decks/includes/color_choice_background.html' %}" href="{% url 'add-deck' %}">Add a Deck</a>
      </div>
      {% endif %}

  </div>
  {% if request.path == '/' %}
  <div class='public-decks flex-col'>
    <div class='flex'>
      <div class="flex question-button {% include 'decks/includes/color_choice_border.html' %}">Public Decks</div>
    </div>
    <ul class='flex animate__animated animate__fadeInLeft'>
      {% for deck in decks %}
      {% if deck.user != request.user %}
      <li>
        <div class="title-button {% include 'decks/includes/color_choice_background.html' %}">{{ deck.name }}</div>
        {% if deck.deck_cover_upload %}
        <a href="{% url 'deck-detail' deck_pk=deck.pk %}"><img class='flip-card' src="{{ deck.deck_cover_upload.url }}"></a>
        {% elif deck.deck_cover %}
        <a href="{% url 'deck-detail' deck_pk=deck.pk %}"><img class='flip-card' src="{{ deck.deck_cover }}"></a>
        {% else %}
        <a class='cover-text' href="{% url 'deck-detail' deck_pk=deck.pk %}"><p class='flip-card' style='margin: 0; padding:0;'>{{ deck.name }}</p></a>
        {% endif %}        
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>