
<div class='flex-col'>
  <div class='flex animate__animated animate__fadeInLeft'>
    <div class='question-button'>{{ deck.name }}</div>
    <a class='question-button' href="{% url 'start-round' deck_pk=deck.pk %}">Play Round</a>
  </div>
  <ul class='flex animate__animated animate__fadeInUp'>
    {% for card in deck.cards.all %}
    <li>
      <div class='card-holder flip-card' data-card-pk={{card.pk}}>
        <div class='flip-card-inner'>
          <div class='flip-card-front'>
            {% if card.question_image_upload  %}
            <img class='card-image' src="{{ card.question_image_upload.url }}" alt="{{ card.question_text }}" style="width:100%; height:100%;">
            {% elif card.question_image %}
            <img class='card-image' src="{{ card.question_image }}" alt="{{ card.question_text }}" style="width:100%; height:100%;">  
            {% else %}
            <p style='margin: 0; padding:0;'>{{ card.question_text }}</p>
            {% endif %}
          </div>
          <div class='flip-card-back'>
            {{ card.answer }}
          </div>
        </div>
      </div>
      {% if deck.user == request.user %}
      <a href="{{ card.get_absolute_url }}">Card Detail</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  
</div>