
<div class='flex-col'>
  
  <div class="mb20 flex header-button {% include 'decks/includes/color_choice_background.html' %}">{{ deck.name }}</div>
  <div class='flex'>
  
    <a class="question-button {% include 'decks/includes/color_choice_border.html' %}" href="{% url 'start-round' deck_pk=deck.pk %}">Play Round</a>
  </div>
  <ul class='flex animate__animated animate__fadeInRight'>
    {% for card in deck.cards.all %}
    <li>
      <div class='card-holder flip-card' data-card-pk={{card.pk}}>
        <div class='flip-card-inner'>
          <div class='flip-card-front'>
            {% if card.question_image_upload  %}
            <img class='card-image' src="{{ card.question_image_upload.url }}" alt="{{ card.question_text }}" style="width:100%; height:100%;">
            {% elif card.question_image %}
            <img class='card-image' src="{{ card.question_image }}" alt="{{ card.question_text }}" style="width:100%; height:100%;">  
            {% else %}
            <p style='margin: 0; padding:0;'>{{ card.question_text }}</p>
            {% endif %}
          </div>
          <div class="flip-card-back {% include 'decks/includes/color_choice_background.html' %}">
            {{ card.answer }}
          </div>
        </div>
      </div>
      {% if deck.user == request.user %}
      {% if deck.get_absolute_url != request.path %}

            <a href="{% url 'delete-card' pk=card.pk %}"><i class="far fa-trash-alt {% include 'decks/includes/color_choice_font.html' %}"></i></a>
      {% endif %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>

{% if deck.user == request.user %}

<div class='m50'>
  <a class="label-button {% include 'decks/includes/color_choice_background.html' %}" href="{% url 'add-card' deck_pk=deck.pk %}">Add a Card</a>
  <a class="label-button {% include 'decks/includes/color_choice_background.html' %}" href="{% url 'search-add' deck_pk=deck.pk %}">Search for Cards to Add</a>
  {% if deck.get_absolute_url == request.path %}
    <a class="label-button edit {% include 'decks/includes/color_choice_background.html' %}" href="{% url 'edit-deck' deck_pk=deck.pk %}">Edit Deck</a>
  {% endif %}
  <a class="label-button delete {% include 'decks/includes/color_choice_background.html' %}" href="{% url 'delete-deck' deck_pk=deck.pk %}">Delete Deck</a>
</div>

{% endif %}


<!-- 
<div>Absolute URL{{ deck.get_absolute_url }}</div>
<div>Path request{{ request.path }}</div> -->