

{% extends "base.html" %}

{% block content %}

<div class='flex-col bottom-section'>
  <div class='flex'>
  <p class='search-heading question-button'>Search Actors to add to {{ deck.name }} </p>
  </div>
  <form id="movie-form-3">
    <input class='actor-search mt10' type='text' placeholder='Enter Actor' id='actor-search'></input>
    <button class='label-button' id="submit-button-3" type='Submit'>Submit</button> 
  </form>
</div>

<div id='display-2' data-deck-pk={{ deck.pk }}></div>

{% endblock %}
