{% extends "base.html" %}

{% block content %}

<div class='flex'>
  <div class="flex question-button {% include 'decks/includes/color_choice_border.html' %}">Create a New Deck</div>
</div>
<div class="mb20 mt10 flex form-div">
  <form class = 'input-field' action="{% url 'add-deck' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <button class="label-button {% include 'decks/includes/color_choice_background.html' %}" type="submit">Add Deck</button>
    </div>
  </form>
</div>

{% include 'decks/includes/deck_list_include.html' %}


{% endblock %}
